db.sqlite3
venv
__pycache__
.vs/VSWorkspaceState.json
.vs/api_qc_django_restf_v2/v17/.wsuo

reports/nuevo_archivo_editado26.pdf/nuevo_archivo_editado26.pdf
reports/nuevo_archivo_cert_editado25.pdf/nuevo_archivo_cert_editado25.pdf
